<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="code_generate.contribution1"
            
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <menu
               label="Code Generate"
               id="menu1">
            <separator
                  name="generate">
            </separator>
         </menu>
         <action
               label="Genarate Repository"
               icon="icons/ico.gif"
               class="com.ydpp.eclipse.actions.classes.GenarateRepositoryAction"
               menubarPath="menu1/generate"
               id="code_generate.action1">
         </action>
         <action
               class="com.ydpp.eclipse.actions.classes.GenerateServiceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.GenerateServiceAction"
               label="Generate Service"
               menubarPath="menu1/generate"/>
         <action
               class="com.ydpp.eclipse.actions.classes.GenerateControllerAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.classes.GenerateControllerAction"
               label="Genarate Controller"
               menubarPath="menu1/generate"/>
		<action
               class="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndServiceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndServiceAction"
               label="Genarate Repository And Service"
               menubarPath="menu1/generate"/>               
		<action
               class="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndControllerAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndControllerAction"
               label="Genarate Repository And Controller"
               menubarPath="menu1/generate"/>               
		<action
               class="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndServiceAndControllerAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.classes.GenerateRepositoryAndServiceAndControllerAction"
               label="Genarate Repository And Service And Controller"
               menubarPath="menu1/generate"/>               
		<action
               class="com.ydpp.eclipse.actions.method.GenerateToJsonMethodAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.method.GenerateToJsonMethodAction"
               label="Genarate ToJson Method"
               menubarPath="menu1/generate"/>               
         <action
               class="com.ydpp.eclipse.actions.classes.GeneratePageAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.classes.GeneratePageAction"
               label="Genarate Page"
               menubarPath="menu1/generate"/>
         <menu
               id="menu2"
               label="Spring Bean Configuration"
               >
            <separator name="namespace"/>
            <separator name="bean"/>
            <separator name="mvc"/>
         </menu>
         <action
               class="com.ydpp.eclipse.actions.xml.AddAnnotationConfigAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddAnnotationConfigAction"
               label="Add Annotation Configuration"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddContextScanAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddContextScanAction"
               label="Add context:component-scan"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddMessageSourceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddMessageSourceAction"
               label="Add MessageSource"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddSpringMvcConfigAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddSpringMvcConfigAction"
               label="Add spring mvc configuration"
               menubarPath="menu2/mvc"
               tooltip="will declare DispatcherServlet in web.xml"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddTilesViewAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddTilesViewAction"
               label="Add Tiles2 View"
               menubarPath="menu2/mvc"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddFreemarkerViewAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddFreemarkerViewAction"
               label="Add Freemarker View"
               menubarPath="menu2/mvc"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddJspViewAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddJspViewAction"
               label="Add Jsp View"
               menubarPath="menu2/mvc"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddDataSourceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddDataSourceAction"
               label="Add DataSource"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddJdbcTemplateAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddJdbcTemplateAction"
               label="Add JdbcTemplate"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddDataSourceTransactionAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddDataSourceTransactionAction"
               label="Add DataSource Transaction Manager"
               menubarPath="menu2/bean"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddBeansNamespaceAcion"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddBeansNamespaceAction"
               label="Add beans namespace"
               menubarPath="menu2/namespace"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddTxNamespaceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddTxNamespaceAction"
               label="Add tx namesapce"
               menubarPath="menu2/namespace"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddAopNamespaceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddAopNamespaceAction"
               label="Add aop namesapce"
               menubarPath="menu2/namespace"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddContextNamespaceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddContextNamespaceAction"
               label="Add context namesapce"
               menubarPath="menu2/namespace"/>
         <action
               class="com.ydpp.eclipse.actions.xml.AddAllNamespaceAction"
               icon="icons/ico.gif"
               id="com.ydpp.eclipse.actions.xml.AddAllNamespaceAction"
               label="Add all namespace"
               menubarPath="menu2/namespace"
               tooltip="will declare spring all namespace"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ydpp.eclipse.preferences.CodePreferencePage"
            id="com.ydpp.eclipse.preferences.CodePreferencePage"
            name="Code generate">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ydpp.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
