package ${target};

import com.opensymphony.xwork2.ActionSupport;

public class ${class}Action extends ActionSupport {

	@Override
	public String execute() throws Exception {
		return super.execute();
	}

}